@{
    var username = ViewData["NomeCompleto"] as string;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GestorTF -  Projeto Gestão de tarefas</title>
    <link rel="icon" href="~/img/favicon.svg" type="svg+xml">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestorTF.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/icofont/icofont.min.css">
</head>
<body>

    <header>
        <nav class=" height-nav-header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3 h">
            <div class="container">
                <img src="~/img/favicon.svg" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Example single danger button -->
                <div class="btn-group position-relative">
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="nome-usuario">👤</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sair da conta</a></li>
                    </ul>
                    <div id="notificationBox" class="notification-box">
                        <div  class="notification-header">
                            <div id="iconBox"></div>
                            <i class="bi bi-clipboard-x"></i>
                            <span id="notBoxTitle" class="notification-title"></span>
                            <button id="closeBox" class="close-button">&times;</button>
                        </div>
                        <div id="errosList" class="notification-body">
                        </div>
                        <div class="notification-footer">
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex gap-lg-5">
            &copy; 2025 - GestorTF
            <div>
                <span id="nome-usuario-footer"></span>
            </div>
        </div>
    </footer>
    <script>
        var nomeCompleto = '@ViewData["NomeCompleto"]';
        if (nomeCompleto)
                     localStorage.setItem('NomeCompleto', nomeCompleto);
         const nomeCompletoArmazenado = localStorage.getItem('NomeCompleto');
         var dataAtual = '@DateTime.Now.ToString("dd/MM/yyyy HH:mm  ")';
        if (nomeCompletoArmazenado)
            document.getElementById('nome-usuario').textContent = `Bem-vindo, ${nomeCompletoArmazenado}!`;
        document.getElementById('nome-usuario-footer').textContent = `Logado como, ${nomeCompletoArmazenado} → operando em: ${dataAtual}`;
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
