<div class="titulo-header">ACESSO RÁPIDO</div>
<div class="grid-header">
    <a asp-controller="User" asp-action="Create">
        <div class="item-header">
            <div class="icon">
                <i class="icofont-duotone icofont-add-users icofont-2x text-purple"></i>
            </div>
            Criar Usuário
        </div>
    </a>
    <a asp-controller="User" asp-action="Create">
        <div class="item-header">
            <div class="icon">
                <i class="icofont-duotone icofont-components icofont-2x text-purple"></i>
            </div>
            Chamados
        </div>
    </a> 
    <a asp-controller="User" asp-action="Create">
        <div class="item-header">
            <div class="icon">
                <i class="icofont-duotone icofont-file-add icofont-2x text-purple"></i>
            </div>
            Abrir chamado
        </div>
    </a>
</div>