<div class="titulo-header">ACESSO RÁPIDO</div>
<div class="grid-header">
    <a asp-controller="User" asp-action="Create" >
        <div class="item-header">
            <div class="icon">📄</div> Criar Usuário
        </div>
    </a>
    <div class="item-header"><div class="icon">📱</div> Linhas e chips</div>
    <div class="item-header"><div class="icon">📊</div> Gestão de consumo</div>
    <div class="item-header"><div class="icon">📢</div> Minhas solicitações</div>
    <div class="item-header"><div class="icon">⚙️</div> Suporte técnico</div>
    <div class="item-header"><div class="icon">👤</div> Equipe de atendimento</div>
    <div class="item-header"><div class="icon">🛒</div> Meus pedidos</div>
    <div class="item-header"><div class="icon">✈️</div> Roaming internacional</div>
</div>