<div class="painel-header">
    <div class="titulo-header">CADASTRAR NOVO CLIENTE</div>
</div>
<div class="grid-header flex-column">
    <div id="bl1" class="border rounded-3 mb-4" style="display: block;">
        <div class="color-icons d-flex align-items-center gap-2 px-3 py-2 border-bottom">
            <i class="icofont-duotone icofont-vcard icofont-2x text-purple"></i>
            <strong>Informações pessoais</strong>

        </div>

        <div class="d-flex p-3 gap-3">
            <div class="form-group-custom w-40 m-0">
                <input type="text" id="Name" name="Name" placeholder=" " required="">
                <label for="Name">Nome completo</label>
            </div>

            <div class="form-group-custom w-35 m-0">
                <input type="email" id="Email" name="Email" placeholder=" " required="">
                <label for="Email">E-mail</label>

            </div>
            <div class="form-group-custom m-0">
                <input type="tel" id="Tel" name="telefone" placeholder=" " required="">
                <label for="Tel">Telefone</label>
            </div>
            <div class="form-group-custom m-0">
                <input type="text" id="CNPJ" name="cnpj" placeholder=" " required="">
                <label for="CNPJ">CNPJ</label>
            </div>
        </div>
        <div class="text-end m-2">
            <button type="submit" id="btnCancelar" class="btn-submit-novo">Cancelar</button>
            <button type="submit" id="btnRegister" class="btn-submit-novo">Salvar</button>
        </div>

    </div>
</div>
