<div class="painel-header">
    <div class="titulo-header">LISTA DE CLIENTES</div>
</div>
<div id="bl1" class="border rounded-3 mb-4" style="display: block;">
    <div class="color-icons d-flex align-items-center gap-2 px-3 py-2 border-bottom">
        <i class="icofont-duotone icofont-vcard icofont-2x text-purple"></i>
        <strong>Clientes cadastrados</strong>
    </div>
    <div class="">
        <div id="listaClientes">Carregando...</div>
    </div>
</div>