<div class="container-create">
    <div class="box-create small-create border rounded-3">
        <div class="menu">
            <div class="menu-item active" id="menu-bl1">
                <i class="icofont-duotone icofont-privacy icofont-2"></i>
                <strong>Informações Pessoais</strong>
            </div>
            <div class="menu-item" id="menu-bl2">
                <i class="icofont-duotone icofont-access-levels icofont-2"></i>
                <strong>Segurança</strong>
            </div>
            <div class="menu-item" id="menu-bl3">
                <i class="icofont-duotone icofont-shield icofont-2"></i>
                <strong>Niveis de acesso</strong>
            </div>
        </div>
    </div>
    <div class="box-create large-create">
        <!-- Bloco 1 -->
        <div id="bl1" class="border rounded-3 mb-4">
            <div class="color-icons d-flex align-items-center gap-2 px-3 py-2 border-bottom">
                <i class="icofont-duotone icofont-vcard icofont-2x text-purple"></i>
                <strong>Informações pessoais</strong>
            </div>
            <div class="p-3">
                <div class="form-group-custom">
                    <input type="text" id="name" name="name" placeholder=" " required />
                    <label for="name">Nome completo</label>
                </div>

                <div class="form-group-custom">
                    <input type="email" id="email" name="email" placeholder=" " required />
                    <label for="email">E-mail</label>
                </div>
            </div>
        </div>
        <!-- Bloco 2: Credenciais -->
        <div id="bl2" class="border rounded-3 mb-4" style="display: none;">
            <div class="d-flex align-items-center gap-2 px-3 py-2 border-bottom">
                <i class="icofont-duotone icofont-access-levels icofont-2x text-purple"></i>
                <strong>Segurança</strong>
            </div>
            <div class="p-3">
                <div class="form-group-custom">
                    <input type="password" id="password" name="password" placeholder=" " required />
                    <label for="password">Senha</label>
                </div>

                <div class="form-group-custom">
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder=" " required />
                    <label for="confirmPassword">Confirmar Senha</label>
                </div>
            </div>
        </div>
        <!-- Bloco 3: Niveis de acesso-->
        <div id="bl3" class="border rounded-3 mb-4" style="display: none;">
            <div class="d-flex align-items-center gap-2 px-3 py-2 border-bottom">
                <i class="icofont-duotone icofont-shield icofont-2x text-purple"></i>
                <strong>Níveis de acesso</strong>
            </div>
            <div class="p-3">
                <div class="d-flex flex-row-reverse border-bottom align-items-center">
                    <div class="d-flex justify-content-center p-2 bd-highlight fw-bold col-md-2">Administrador</div>
                    <div class="d-flex justify-content-center p-2 bd-highlight fw-bold col-md-2">Usuário</div>
                </div>
                <div class="d-flex flex-row align-items-center border-bottom">
                    <div>
                        <p class="fw-bold">Tipo de acesso</p>
                        <p class="fw-normal">Usuários do tipo administradores podem realizar qualquer operação e acessar chamados em geral.</p>
                    </div>
                    <div class="d-flex col-md-2 justify-content-center">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUsuario">
                    </div>
                    <div class="d-flex col-md-2 justify-content-center">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultAdmin">
                    </div>
                </div>
               
            </div>
            <div class="text-end m-2">
                <button type="submit" class="btn-submit-novo">Salvar</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/CheckboxNivelAcessoUser.js"></script>
    <script src="~/js/HandlerMenuCreateUser.js"></script>
}