@import "ModPersons/Header-nav.css";
@import "ModPersons/MenuAcessoRapido.css";
@import "ModPersons/CreateUserPage.css";

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/*Personalizados*/
.btn-submit-novo {
    background-color: #6f42c1; 
    color: white;
    font-size: 16px;
    font-weight: bold; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

    .btn-submit-novo:hover {
        background-color: #5a2ea6; 
    }

    .btn-submit-novo:active {
        background-color: #4b1e8c; 
    }
.form-group-custom {
    position: relative;
    margin-bottom: 1.5rem;
}

    .form-group-custom input {
        width: 100%;
        border: 1.5px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.90rem 0.90rem;
        font-size: 1rem;
        background-color: white;
        outline: none;
        transition: border-color 0.3s ease;
    }

        .form-group-custom input:focus {
            border: 1.5px solid #7c3aed; /* Roxo vibrante */
        }

    .form-group-custom label {
        position: absolute;
        top: 1rem;
        left: 0.75rem;
        background-color: white;
        color: #3b3d4a;
        font-size: 1rem;
        pointer-events: none;
        transition: 0.2s ease all;
        padding: 0 4px;
    }

    .form-group-custom input:focus + label,
    .form-group-custom input:not(:placeholder-shown) + label {
        top: -8px;
        left: 0.6rem;
        font-size: 0.75rem;
        color: #7c3aed;
    }

.text-purple {
    color: #7c3aed;
}
/*Personalizados*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none !important; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto conforme o estilo do pai */
}

    a:hover {
        color: inherit;
        background: none;
    }
