@{
    ViewData["Title"] = "Home Page";
}

<div class="hello-home">
    <h3 class="display-7">Olá, @ViewData["NomeCompleto"]</h3>
    <p>Aqui está seu painel inicial. Você pode começar verificando seus chamados.</p>
</div>
<div class="painel-header">
    <partial name="Home/_PartialAcessoRapidoHome" />
   </div>
